body.about {
  width: 1440px;
  height: 3120px;
}
body.about::after {
  width: 1920px;
  content: "";
  position: absolute;
  background-image: url("../images/1440.png");
  opacity: 0.3;
  top: 0;
  left: 0;
}
.about section {
  display: flex;
  width: 1440px;
}
.about div {
  overflow: hidden;
}
.about h1 {
  font-size: 42px;
  line-height: 46px;
}
.about p {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
.about section div:nth-of-type(1) {
  background-color: red;
  width: 840px;
  padding: 130px 120px 0 120px;
}
.about sectiondiv:nth-of-type(2) {
  width: 600px;
}
