article div,
img {
  margin: auto;
  margin-top: 60px;
}
article .section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
}
article .descryption {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin: 0;
}
article a {
  color: inherit;
}
article .descryption p {
  font-size: 12px;
}
article img {
  width: 600px;
}
article *:not(a) {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
article h1 {
  font-size: 30px;
}
article h2 {
  font-size: 24px;
}
article h3 {
  font-size: 20px;
}
article cite {
  font-style: italic;
  position: relative;
}
article cite::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: -12px;
}
