nav.sidebar {
  width: 280px;
  position: fixed;
  font-size: 14px;
  line-height: 18px;
  left: 20px;
  top: 60px;
  opacity: 0.2;
  transition: 0.2s;
}
nav.sidebar:hover {
  opacity: 1;
  transition: 0.6s;
}
nav.sidebar h4 {
  font-weight: bold;
  font-size: 20px;
}
nav.sidebar a {
  text-decoration: none;
  color: grey;
  transition: 0.1s;
}
nav.sidebar a:hover {
  color: black;
  transition: 0.1s;
}
nav.sidebar ul > ul {
  margin-left: 10px;
}
