nav {
  width: 280px;
  position: fixed;
  font-size: 14px;
  line-height: 18px;
  left: 20px;
  top: 60px;
  opacity: 0.2;
  transition: 0.2s;
}
nav:hover {
  opacity: 1;
  transition: 0.6s;
}
nav h4 {
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: grey;
  transition: 0.1s;
}
nav a:hover {
  color: black;
  transition: 0.1s;
}
nav ul > ul {
  margin-left: 10px;
}
